In [1]:
import sqlite3
import pandas as pd

In [3]:
connection = sqlite3.connect('track_metadata.db')
df = pd.read_sql_query("SELECT * FROM songs", connection)

In [6]:
df.head()

,track_id,title,song_id,release,artist_id,artist_mbid,artist_name,duration,artist_familiarity,artist_hotttnesss,year,track_7digitalid,shs_perf,shs_work
0,TRMMMYQ128F932D901,Silent Night,SOQMMHC12AB0180CB8,Monster Ballads X-Mas,ARYZTJS1187B98C555,357ff05d-848a-44cf-b608-cb34b5701ae5,Faster Pussy cat,252.05506,0.649822,0.394032,2003,7032331,-1,0
1,TRMMMKD128F425225D,Tanssi vaan,SOVFVAK12A8C1350D9,Karkuteillä,ARMVN3U1187FB3A1EB,8d7ef530-a6fd-4f8f-b2e2-74aec765e0f9,Karkkiautomaatti,156.55138,0.439604,0.356992,1995,1514808,-1,0
2,TRMMMRX128F93187D9,No One Could Ever,SOGTUKN12AB017F4F1,Butter,ARGEKB01187FB50750,3d403d44-36ce-465c-ad43-ae877e65adc4,Hudson Mohawke,138.97098,0.643681,0.437504,2006,6945353,-1,0
3,TRMMMCH128F425532C,Si Vos Querés,SOBNYVR12A8C13558C,De Culo,ARNWYLR1187B9B2F9C,12be7648-7094-495f-90e6-df4189d68615,Yerba Brava,145.05751,0.448501,0.372349,2003,2168257,-1,0
4,TRMMMWA128F426B589,Tangle Of Aspens,SOHSBXH12A8C13B0DF,Rene Ablaze Presents Winter Sessions,AREQDTE1269FB37231,,Der Mystic,514.29832,0.000000,0.000000,0,2264873,-1,0

In [7]:
df.describe()

,duration,artist_familiarity,artist_hotttnesss,year,track_7digitalid,shs_perf,shs_work
count,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1.000000e+06,1000000.000000,1000000.000000
mean,249.500755,0.556915,0.379797,1030.325652,4.213995e+06,940.437395,480.173895
std,126.229636,0.140207,0.126050,998.745002,2.640600e+06,9168.962303,5437.859242
min,0.313020,-1.000000,-1.000000,0.000000,-1.000000e+00,-1.000000,-938.000000
25%,180.740770,0.478219,0.336321,0.000000,1.974300e+06,-1.000000,0.000000
50%,228.858320,0.558878,0.386194,1969.000000,3.947503e+06,-1.000000,0.000000
75%,289.932610,0.641392,0.444066,2002.000000,6.469678e+06,-1.000000,0.000000
max,3034.905670,1.000000,1.082503,2011.000000,9.091277e+06,151082.000000,117287.000000

In [11]:
df.dtypes

track_id               object
title                  object
song_id                object
release                object
artist_id              object
artist_mbid            object
artist_name            object
duration              float64
artist_familiarity    float64
artist_hotttnesss     float64
year                    int64
track_7digitalid        int64
shs_perf                int64
shs_work                int64
dtype: object

In [29]:
print([(column, df[column].nunique()) for column in df.columns]) #List of tuples

[('track_id', 1000000), ('title', 702429), ('song_id', 999056), ('release', 149289), ('artist_id', 44745), ('artist_mbid', 38730), ('artist_name', 72665), ('duration', 32145), ('artist_familiarity', 47218), ('artist_hotttnesss', 43476), ('year', 90), ('track_7digitalid', 999988), ('shs_perf', 15122), ('shs_work', 5855)]